<div class="container">
    <div class="row row-height">
        <div class="jumbotron jumb-modify">
            <h2 class="push">ALL COACHINGS</h2> 
            <p>www.allcoachings.com</p>
        </div>
    </div>
    <div class="row divHeight">
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/"  >Home</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openAbout()">About</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openDisclaimer()" >Disclaimer</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/contact" >Contact Us</a></div>
    </div>
</div>
<div class="container" >
  <h4 class="align" style="text-align:center">If any problem or feedback kindly mail us on <span style="color:red">allcoachings@yahoo.com</span> or use facebook <span style="color:red">facebook.me/allcoachings</span></h4> 
  <h5 class="align" style="text-align:center"><span style="font-weight:bold" >Mobile:</span> <span style="color:blue" >9922678674/9922678684</span></h5>
</div>