<div class="container">
    <div class="row row-height">
        <div class="jumbotron jumb-modify">
            <h2 class="push">ALL COACHINGS</h2> 
            <p>www.allcoachings.com</p>
        </div>
    </div>
    <div class="row divHeight">
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/"  >Home</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openAbout()">About</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openDisclaimer()" >Disclaimer</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/contact" >Contact Us</a></div>
    </div>
</div>
<div class="container">
    <h2 style="text-align:center;color:#ff0066;font-weight: bold;"  id="Heading" ></h2>
    <h4 id="tag" style="text-align:center;color:purple;font-weight:bold" ></h4>
    <div class="col-sm-12" ><span style="font-weight:bold;font-size:17px;margin-top:20px">By:   </span><span id="by"  style="font-weight:bold;font-size:17px;color:red"></span></div>
   
    <div class="col-sm-12" style="margin-top:8px" ><span style="font-weight:bold;font-size:17px">Mobile: </span><span id="mobile"  style="font-weight:bold;font-size:17px;color:blue"></span></div>
    <div class="col-sm-12" style="margin-top:8px" ><span style="font-weight:bold;font-size:17px">Email: </span><span id="email" style="font-weight:bold;text-decoration:underline;font-size:17px;color:blue"></span></div>
    <div class="col-sm-12" style="margin-top:8px" ><span style="font-weight:bold;font-size:17px">Web: </span><span id="web" style="font-weight:bold;font-size:17px;color:blue"></span></div>
    <div class="col-sm-12" style="margin-top:8px" ><span style="font-weight:bold;font-size:17px">Address: </span><span  style="color:crimson;font-weight:bold;font-size:17px" id="address"></span></div>
    
    <div class="col-sm-12" style="margin-top:20px" ><span style="color:red;font-weight:bold;text-align:left;font-size:20px" id="batch" ></span></div>
    <table class="table table-bordered" style="margin-top:10px" >
        <thead>
            <th>Sr. No.</th>
            <th>Subject</th>
            <th>Time</th>
            <th>Teacher</th>
        </thead>
        <tbody id="displayTbody">

        </tbody>
    </table>
    <hr>
    <h3 style="margin-top:20px">Rate this coaching</h3>
    <div class="col-sm-12" style="padding:0px">
       <div class="col-sm-12" style="margin-top:40px">
           <div class="col-sm-8" >
               
               <div class="rate" data-rate-value=6 style="margin-top:10px"></div>
           </div>
           
       </div>
       <div class="col-sm-8" style="margin-top:20px">
           <div class="col-sm-8">
               <label class="col-sm-12">Name*:</label>
               <input class="form-control" type="text" placeholder="name" id="rateName" >
           </div>
           <div class="col-sm-8" style="margin-top:20px">
               <label class="col-sm-8">Comments*:</label>
               <textarea class="form-control" type="text" placeholder="comments" id="rateComment" rows="4"></textarea>
           </div>

       </div>
       <div class="col-sm-12" style="margin-top:20px">
           <div class="col-sm-12">
               <button class="btn btn-primary" onclick="rateCoaching()" style="margin-bottom:20px">Submit</button>
           </div>
           
       </div>
    </div>
    <hr>
    <div class="col-sm-12" id="rated" style="margin-bottom:20px">
        <h4>Reviews</h4>
        <h4 style="font-weight:bold"  >Total:   <span id="total"></span></h4>
        <span><h4 style="font-weight:bold"  >Overall Rating:   <span id="totalRating"></span></h4></span>
    </div>
</div>


<script>
    
</script>

 