<div class="container">
    <div class="row row-height">
        <div class="jumbotron jumb-modify">
            <h2 class="push">ALL COACHINGS</h2> 
            <p>www.allcoachings.com</p>
        </div>
    </div>
    <div class="row divHeight">
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/"  >Home</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openAbout()">About</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" onclick="openDisclaimer()" >Disclaimer</a></div>
      <div class="col-sm-3 col-md-3 col-xs-3 menuSetting"><a class="menus" href="/contact" >Contact Us</a></div>
    </div>
</div>
<div class="container" >
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <ul id="sectionDetail" >
                      
        </ul>
    </div>
         
</div>